/* Reset some default styles */
body, h1, h2, h3, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}


/* Form styles */
form {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* User list styles */
ul {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: left;
    width: 300px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input[type="hidden"],
input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.error {
    color: #d9534f;
    margin-top: 5px;
}
/* Ajoutez ces styles à votre fichier CSS existant */
.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.form-container,
.user-list-container {
    flex: 1;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 5px;
    margin: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Ajoutez des styles spécifiques à chaque conteneur si nécessaire */
.form-container h2,
.user-list-container h2 {
    margin-bottom: 10px;
}
.form-container,
.user-list-container input[type="text"]{
    flex: 1;
    margin-right: 10px;
}